#puremag-sidebar-wrapper .widget .puremag-widget-title {
  color: #747f8c;
  background-color: #e3e3e3;
}

input.puremag-search-submit {
  background-color: #747F8C;
  border-width: 0px;
}

.puremag-primary-responsive-menu-icon {
  color: #747f8c;
}

.puremag-primary-nav-menu a:hover {
  background-color: #747f8c;
  color: #ffffff;
}

button {
  background-color: #b83030;
  color: #821515;
}

.puremag-featured-posts-area .widget .puremag-widget-title {
  color: #747f8c;
  background-color: #e3e3e3;
}

.wpp-list li {
  color: #b83030;
}

a {
  color: #747F8C;
}

a:hover {
  color: #000000;
}

.wpp-author {
  color: #000000;
}

.wpp-date {
  color: #000000;
}

.wpp-category {
  color: #000000;
}

.category.category-202 {
  color: #000000;
}

.category.category-6 {
  color: #000000;
}

.wpp-thumbnail {
  color: #b83030;
  background-color: #b83030;
}

.puremag-primary-nav-menu a {
  color: #821515;
}

input[type="search"] {
  border-width: 1px;
  border-color: #998d8d;
  border-left-width: -1px;
  border-bottom-width: 0px;
  border-style: dotted;
  background-color: #f2f2f2;
}

#puremag-sidebar-wrapper .widget a {
  color: #747F8C;
}

.tagcloud {
  color: #b83030;
}

.widget_tag_cloud a {
  color: #b83030;
  background-color: #b83030;
}

.tag-cloud-link.tag-link-189.tag-link-position-42 {
  color: #b83030;
}

#puremag-sidebar-wrapper .widget select {
  border-width: 0.9px;
  border-style: groove;
}

.puremag-posts .puremag-posts-heading {
  color: #747F8C;
  background-color: #e3e3e3;
}

.puremag-list-post-footer a {
  color: #b83030;
  font-size: 12px;
  line-height: 0px;
  text-indent: 0px;
  letter-spacing: 0.2px;
  word-spacing: 0.1px;
}

.page-header h1 {
  color: #000000;
}

.puremag-posts {
  background-color: #ffffff;
}

.puremag-widget-title {
  color: #821515;
}

#puremag-primary-navigation.puremag-nav-primary {
  color: #821515;
  background-color: #e3e3e3;
}

.puremag-primary-nav-menu .current-menu-item > a {
  background-color: #e3e3e3;
  color: #747f8c;
  opacity: 1;
  position: static;
}

#wpp-3.puremag-main-widget.widget.popular-posts {
  background-color: #ededed;
}

.puremag-posts .puremag-posts-content {
  background-color: #ededed;
}

#archives-6.puremag-side-widget.widget.widget_archive {
  background-color: #ededed;
}

#recent-posts-4.puremag-side-widget.widget.widget_recent_entries {
  background-color: #ededed;
}

#search-4.puremag-side-widget.widget.widget_search {
  background-color: #ededed;
}

.puremag-list-post-read-more a {
  background-color: #5157b0;
  border-width: 0.1px;
}

.site-branding {
  text-align: center;
}

.puremag-primary-nav-menu > li > a {
  color: #747f8c;
}

.wpp-post-title {
  color: #000000;
}

.wpp-excerpt {
  color: #000000;
}

.puremag-primary-nav-menu .sub-menu a {
  color: #747f8c;
  background-color: #e3e3e3;
}

#puremag-sidebar-wrapper .widget {
  background-color: #e3e3e3;
}

#tag_cloud-3.puremag-side-widget.widget.widget_tag_cloud {
  background-color: #ededed;
}

#post-80.puremag-post-singular.post-80.page.type-page.status-publish.hentry {
  background-color: #ededed;
}

#post-26.puremag-post-singular.post-26.page.type-page.status-publish.hentry {
  background-color: #ededed;
}

#post-25.puremag-post-singular.post-25.page.type-page.status-publish.hentry {
  background-color: #ededed;
}

#post-31.puremag-post-singular.post-31.page.type-page.status-publish.hentry {
  background-color: #ededed;
}

.puremag-entry-meta-single.puremag-entry-meta-single-top {
  background-color: #e3e3e3;
}

#post-1169.puremag-post-singular.post-1169.post.type-post.status-publish.format-standard.hentry.category-divrei-torah.tag-parsha-4parshas.tag-rav-yaakov-neuburger.wpcat-6-id {
  background-color: #ededed;
}

.puremag-author-bio-top {
  background-color: #ededed;
}

.puremag-author-bio {
  background-color: #ededed;
}

.page-header {
  background-color: #e3e3e3;
}

.searchandfilter {
  background-color: #e3e3e3;
  text-indent: 0px;
  letter-spacing: 0px;
  word-spacing: 0px;
  text-transform: none;
  padding: 0px;
  margin: 0px;
  margin-bottom: 15px;
}

.searchandfilter h4 {
  color: #747f8c;
  font-size: 17px;
  line-height: 18px;
}

select {
  color: #747f8c;
  text-indent: 1px;
  letter-spacing: 0px;
  word-spacing: 0px;
  padding: 0px;
  padding-bottom: 0px;
  padding-top: 0px;
  width: 207px;
  height: 35px;
  border-width: -1px;
  border-style: hidden;
}

input[type="submit"] {
  background-color: #747f8c;
  padding: -1px;
  margin: 0px;
  border-style: hidden;
}

input[type="submit"]:hover {
  border-style: hidden;
}